.main-button{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    cursor: pointer;
    width: 400px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap : 20px;
    background-color: #88e788;
    border: 3px solid black;
    border-radius: 140px;
    transition: all 0.3s ease;
}

.main-button:hover{
    background-color: #88e788;
    transform: scale(1.05);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 54px 55px, rgba(0, 0, 0, 0.15) 0px -12px 30px, rgba(0, 0, 0, 0.15) 0px 4px 6px, rgba(0, 0, 0, 0.20) 0px 12px 13px, rgba(0, 0, 0, 0.11) 0px -3px 5px;
}

.button-icon{
    width: 40px;
}

.button-text{
    font-size: 15px;
    text-transform: uppercase;
    color: #111;
    font-family: "Montserrat";
}