main{
    display: flex;
    align-items: start;
    justify-content: space-between;
    margin: 70px 100px;
}

.main-text{
    font-weight: 700;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-heading{
    margin-bottom: 10px;
    font-size: 45px;
    text-align: center;
    font-family: "Open Sans";
}

.main-subtext{
    margin-bottom: 30px;
    text-align: center;
    font-family: "Open Sans";
    font-size: 18px;
}

.main-img{
    height: 550px;
}