.service-text{
    background-color: #88e788;
    text-align: center;
    width: 480px;
    height: 150px;
    border-radius: 10px;
}

.service-heading{
    text-transform: uppercase;
    padding-top: 10px;
}